﻿@media screen and (max-width:1000px) {
    #container {
        padding-bottom: 100px;

        .body {
            form {
                width: 90%;
                left: 5%;

                input[type="submit"] {
                    margin-bottom: 30px;
                }
            }
        }
    }

    .puzzle {
        flex-direction: column;
        align-items: center;
    }
}