﻿@import url('https://fonts.googleapis.com/css?family=Anton|Raleway');

.puzzleStyle() {
    .puzzle {
        display: flex;
        position: relative;
        width: 80%;
        left: 10%;
        grid-gap: 10px;
        justify-content: center;

        .puzzle_box {
            width: 250px;
            height: 200px;
            border: 3px solid black;
            border-radius: 5px;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            margin: 15px;
        }
    }
}

.percentageCircle() {
    .circular-chart {
        display: block;
        margin: 10px auto;
        max-width: 80%;
        height: 140px;
    }

    .circle, .circleback {
        stroke: #4CC790;
        fill: none;
        stroke-width: 2.8;
        stroke-linecap: round;
        animation: progress 2s ease-out forwards;
    }

    .circleback {
        stroke: #f1f1f1;
    }

    .circleText {
        font-size: 10px;
        stroke-width: 0.01em;
        font-family: Anton;
    }

    @keyframes progress {
        0% {
            stroke-dasharray: 0 100;
        }
    }
}

#sectionContainer {
    position: fixed;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    overflow-y: auto;

    .section {
        margin-bottom: 15px;
        margin-top: 15px;
        width: 80%;
        left: 10%;
        font-size: 20px;
        font-family: Raleway;
        display: block;

        .sectionHeader {
            width: 100%;
            margin-bottom: 10px;

            .title {
                font-family: Anton;
                font-size: 40px;
            }
        }

        .sectionBody {
            width: 100%;
            .puzzleStyle();

            .subtitle {
                font-family: Anton;
                font-size: 20px;
            }

            .row {
                display: flex;
                flex-direction: row;
                align-items: center;

                .left {
                    width: 50%;
                    display: block;
                }

                .right {
                    width: 50%;
                }
            }

            .solutions {
                ul, li {
                    list-style: none;
                    margin: 0;
                    padding: 0;
                    margin-top: 10px;
                }

                margin-bottom: 15px;
            }

            .difficult {
                margin-top: 10px;
                margin-bottom: 15px;
            }

            .graph {
                width: 40%;
                .percentageCircle();
            }
        }
    }
}

#container {
    position: fixed;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #f0f0f0;
    overflow-y: auto;
    font-family: raleway;

    .header {
        width: 100%;
        margin-bottom: 20px;

        .title {
            font-family: Anton;
            font-size: 40px;
        }

        .subtitle {
            font-family: Anton;
            font-size: 30px;
        }
    }

    .body {
        width: 100%;
        min-height: 400px;

        .puzzle_answer {
            font-family: Anton;
            font-size: 30px;
        }

        .puzzle_title {
            font-family: Raleway;
            font-size: 30px;
        }

        .puzzleStyle();

        form {
            position: relative;
            width: 60%;
            left: 20%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            input {
                width: 100%;
                margin-bottom: 10px;
                font-family: Anton;
                border-radius: 5px;
                box-sizing: border-box;
            }

            input[type="text"] {
                padding-left: 20px;
                border: 0;
                background-color: white;
                font-size: 30px;
            }

            input[type="submit"] {
                cursor: pointer;
                border: 0;
                color: black;
                font-size: 35px;
                background-color: #d6d6d6;
            }
        }
    }
}

.nav {
    width: 100vw;
    height: 50px;
    background-color: black;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: white;
    overflow: hidden;
    min-height: 50px;

    a:link, a:visited {
        margin-left: 15px;
        text-decoration: none;
        font-family: Anton;
        color: white;
    }

    a:hover, a:active {
        color: #d6d6d6;
    }
}

.bold, .Bold {
    font-weight: bold;
    display: inline;
}

.alignRight {
    text-align: right;
}

.Easy, .easy {
    color: #0fc11e;
    display: inline;
}

.Medium, .medium {
    color: #f45817;
    display: inline;
}

.Hard, .hard {
    color: red;
    display: inline;
}