﻿@model Pridgenco.Models.Puzzle.FormModel

@if (Model.hasAnswer)
{
    if (Model.answerCorrect)
    {
        <div class="puzzle_answer easy">Correct</div>
    }
    else
    {
        <div class="puzzle_answer hard">Incorrect</div>

        <form action="/Puzzle" method="post">
            <input type="text" name="answer" placeholder="Answer" required="required" />

            <input type="submit" value="Submit Answer" />
        </form>
    }
}
else
{
    <form action="/Puzzle" method="post">
        <input type="text" name="answer" placeholder="Answer" required="required" />

        <input type="submit" value="Submit Answer" />
    </form>
}