﻿@{
    ViewBag.Title = "Puzzle";

}
@section scripts
{

}

@section styles
{
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/puzzle/puzzle_mainStyle.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/puzzle/puzzle_mobileStyle.css")" />
}

@model Pridgenco.Models.Puzzle.HomeModel

<div id="container">
    <div class="nav">
            <a href="@Url.Action("Previous", "Puzzle")">Previous Puzzle</a>
            <a href="@Url.Action("Stats", "Puzzle")">Statistics</a>
    </div>
    <div class="header">
        <div class="title">Puzzle for the week of @Model.weekOf</div>
        <div class="subtitle @Model.difficulty">@Model.difficulty</div>
    </div>
    <div class="body">
        @Html.Partial("puzzle", Model.puzzleModel)
        <br />
        @Html.Partial("form", Model.formModel)
    </div>
</div>