﻿@model Pridgenco.Models.Puzzle.PercentageCircleModel

<svg viewBox="0 0 36 36" class="circular-chart">
    <path class="circleback" stroke-dasharray="100, 100" d="M18 2.0845
      a 15.9155 15.9155 0 0 1 0 31.831
      a 15.9155 15.9155 0 0 1 0 -31.831"></path>
    <path class="circle" stroke-dasharray="@Model.Percentage, 100" d="M18 2.0845
      a 15.9155 15.9155 0 0 1 0 31.831
      a 15.9155 15.9155 0 0 1 0 -31.831"></path>
    <text class="circleText" x="50%" y="50%" text-anchor="middle" stroke="black" dy=".3em">@Model.Percentage.ToString()%</text>
</svg>

<!--Adapted From https://codepen.io/sergiopedercini/pen/aWawra -->