﻿@{
    ViewBag.Title = "Puzzle Previous";

}
@section scripts
{

}

@section styles
{
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/puzzle/puzzle_mainStyle.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/puzzle/puzzle_mobileStyle.css")" />
}

@model Pridgenco.Models.Puzzle.PreviousModel

<div id="sectionContainer">
    <div class="nav">
        <a href="@Url.Action("Index", "Puzzle")">Current Puzzle</a>
        <a href="@Url.Action("Stats", "Puzzle")">Statistics</a>
    </div>
    <div class="section">
        <div class="sectionHeader">
            <div class="title">The Previous Puzzle was for @Model.weekOf</div>
        </div>
        <div class="sectionBody">
            <div class="subtitle">The Puzzle was:</div>

            @Html.Partial("Puzzle", Model.previousPuzzle)

            <div class="subtitle">Acceptable Answers for this puzzle were:</div>
            <div class="solutions">
                <ul>
                    @foreach (string s in Model.previousSolutions.Solutions)
                    {
                        <li>@s</li>}
                </ul>
            </div>
            <div class="subtitle">The final difficulty calculated for this Puzzle was:</div>
            <div class="difficulty bold @Model.finalDifficulty">@Model.finalDifficulty</div>
        </div>
    </div>

    <div class="section">
        <div class="sectionHeader">
            <div class="title">Previous Puzzle Statistics:</div>
        </div>
        <div class="sectionBody">
            <div class="row">
                <div class="left alignRight">
                    This difficulty was calculated from <br /><div class="bold">@Model.numberOfCorrectGuesses</div> correct guesses out of <div class="bold">@Model.numberOfGuesses</div> total guesses.
                </div>
                <div class="right">
                    <div class="graph">
                        @Html.Partial("PercentageCircle", Model.percentCircle)
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>