﻿@model Pridgenco.Models.Puzzle.PuzzleModel

<div class="puzzle_title">@Model.Puzzle.PuzzleTitle</div>
<div class="puzzle">
    @for (int i = 0; i < Model.Puzzle.PuzzleItems.Count; i++)
    {
        if (Model.Puzzle.IsImagePuzzle)
        {
            <div class="puzzle_box" title="@(Model.ShowHint ? Model.Puzzle.PuzzleItems[i].Hint : "Hints shown here Fri, Sat, Sun")" style="background-image:url('@Model.Puzzle.PuzzleItems[i].Item')"></div>
        }
        else
        {
            <div class="puzzle_box">@Model.Puzzle.PuzzleItems[i].Item</div>
        }

    }
</div>