﻿@{
    ViewBag.Title = "Puzzle Stats";

}
@section scripts
{

}

@section styles
{
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/puzzle/puzzle_mainStyle.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/puzzle/puzzle_mobileStyle.css")" />
}

@model Pridgenco.Models.Puzzle.StatsModel

<div id="sectionContainer">
    <div class="nav">
        <a href="@Url.Action("Index", "Puzzle")">Current Puzzle</a>
        <a href="@Url.Action("Previous", "Puzzle")">Previous Puzzle</a>
    </div>
    <div class="section">
        <div class="sectionHeader">
            <div class="title">Current Puzzle statistics:</div>
        </div>
        <div class="sectionBody">
            <div class="row">
                <div class="left alignRight">
                    The current puzzle has <div class="bold">@Model.CurrentPuzzleCorrectAnswers</div> correct answers <br />out of <div class="bold">@Model.CurrentPuzzleAnswers</div> total answers.
                    <br />Current difficulty: <div class="@Model.CurrentPuzzleDifficulty">@Model.CurrentPuzzleDifficulty</div>
                </div>
                <div class="right">
                    <div class="graph">
                        @Html.Partial("PercentageCircle", Model.CurrentPuzzlePercentageCircle)
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section">
        <div class="sectionHeader">
            <div class="title">All Puzzles statistics:</div>
        </div>
        <div class="sectionBody">
            <div class="row">
                <div class="left alignRight">
                    There has been <div class="bold">@Model.TotalCorrectAnswers</div> correct answers <br />out of <div class="bold">@Model.TotalAnswers</div> total answers.
                </div>
                <div class="right">
                    <div class="graph">
                        @Html.Partial("PercentageCircle", Model.AllPuzzlesPercentageCircle)
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section">
        <div class="sectionHeader">
            <div class="title">The current most difficult puzzle was the puzzle of @Model.HardestPuzzle.Puzzle.PuzzleWeek</div>
        </div>
        <div class="sectionBody">
            <div class="subtitle">The Puzzle was:</div>

            @Html.Partial("Puzzle", Model.HardestPuzzle)
        </div>
    </div>

    <div class="section">
        <div class="sectionHeader">
            <div class="title">The current easiest puzzle was the puzzle of @Model.EasiestPuzzle.Puzzle.PuzzleWeek</div>
        </div>
        <div class="sectionBody">
            <div class="subtitle">The Puzzle was:</div>

            @Html.Partial("Puzzle", Model.EasiestPuzzle)
        </div>
    </div>
</div>